@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--font: "Inter", sans-serif;
	--red: #da2535;
	--black: #292929;
	--white: #fbfbfb;
}
html {
	font-size: 62.5%;
}
a {
	text-decoration: none;
}

body {
	background: #ecf1f6;
	font-family: var(--font);
}
.content-video{
	display: flex;
	align-items: center;
	justify-content: center;
}
section h1{
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-top: 50px;
  margin-bottom: 50px;
}
section span{
  color: orange;
}

/* SEARCH BAR CONTAINER */
.search-local {
	width: 100%;
	max-width: 75rem;
	display: flex;
	align-items: center;
	column-gap: 2rem;
	padding-left: 2rem;
	background: var(--white);
	min-height: 7rem;
	height: auto;
	border-right: none;
}

/* ICON */
.icon {
	color: var(--red);
	font-size: 3.5rem;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.icon:hover {
	animation: funny-icon 0.4s ease-in-out;
}

@keyframes funny-icon {
	0% {
		scale: 1;
	}

	50% {
		scale: 0.8;
		transform-origin: bottom;
		transform: rotate(-15deg);
	}

	100% {
		scale: 1;
	}
}

/* INPUT */
.search-local input {
	height: 100%;
	width: 100%;
	flex: 1 1 25rem;
	background: var(--white);
	display: flex;
	outline: none;
	border: none;
	color: var(--black);
	font-size: 18px;
}

input[type="text"]::placeholder {
	color: var(--black);
	font-size: 20px;
}

/* BUTTON */
.search-local button {
	background: var(--red);
	border: none;
	font-weight: 500;
	font-size:16px;
	color: #fff;
	height: 7rem;
	width: 15rem;
	cursor: pointer;
	transition: all 0.3s;
	text-align: center;
}
#vista-previa{
	display: flex;
    justify-content: center;
    margin-top: 50px;
	margin-bottom: 30px;	
}
button a {
	color: var(--white);
}

.search-local button .search-icon {
	display: none;
}

.search-local button:hover {
	letter-spacing: 0.5rem;
}

.loaderBody{
	background-color: #ecf1f6;
	opacity: 0.1;
	bottom: 0;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 99999999999999999999;
}
/* MEDIAS */
@media (max-width: 575px) {
	.search-local {
		padding-left: 0;
		column-gap: 0.25rem;
	}
	.search-local button {
		width: 10rem;
	}

	button a {
		display: none;
	}

	.search-local button .search-icon {
		display: block;
		margin-inline: auto;
		color: var(--white);
		font-size: 3rem;
	}

	input[type="text"]::placeholder {
		font-size: 1.7rem;
	}
}
